__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.git
.gitignore
.vscode
.idea
*.md
.dockerignore
docker-compose*.yml
.env
.env.*
venv
env
.db
*.log
.DS_Store
Thumbs.db
node_modules
